*{
	margin: 0;
	padding: 0;
}
div {
	margin: 0;
	padding: 0;
}
body{
	background-color:#7CB342;
}
ul li{
	list-style: none;
}
.bg{
	background: url('../images/bg.png') no-repeat center;
	width: 1366px;
	height: 759px;
	margin: 50px auto;
}
.w_top{
	width: 1366px;
	height: 279px;
}
.data_1{
	width: 1366px;
	height: 97px;
}
.data_1 ul li{
	float: left;
	text-align: center;
}
.data_1 ul li input{
	background-color:  transparent;
	border:  0px;
	height: 97px;
	font-family:Calibri，Candara，Segoe，Segoe UI，Optima，Arial，sans-serif; 
	font-size: 28px;
	color: #000;
	padding-left: 28px; 
	box-sizing:border-box;
}
.bianhao input{
	width: 209px;
}
.card_type input{
	width: 163px;
}
.jine input{
	width: 202px;
}
.mk_date{
	width: 425px;
}
.mk_date input{
	width: 420px;
}
.xj{
	font-family:"xj";
}
@font-face {
  font-family: 'xj';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
      url('../font/iconfont.woff2') format('woff2'),
      url('../font/iconfont.woff') format('woff'),
      url('../font/iconfont.ttf') format('truetype'),
      url('../font/iconfont.svg#iconfont') format('svg');
}